---
# loop config
loop_freq: 45

# Proton
proton_gateway:

# OPNsense
opnsense_interface_addr: https://
opnsense_api_key:
opnsense_api_secret:
opnsense_alias_name: proton_vpn_forwarded_port

# qBit
qbit_addr: http://
qbit_user:
qbit_pass:
