[Unit]
Description=qBOP
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/scripts/qBOP
ExecStart=/usr/share/rvm/rubies/ruby-3.2.2/bin/ruby qbop.rb
Type=simple
Restart=always

[Install]
WantedBy=default.target
