[Unit]
Description=qbop
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/scripts/qbop
ExecStart=/usr/share/rvm/rubies/ruby-3.3.6/bin/ruby qbop.rb
Type=simple
Restart=always

[Install]
WantedBy=default.target
