[Unit]
Description=sidekiq
After=syslog.target network.target redis-server.service

[Service]
Type=notify
NotifyAccess=all
WatchdogSec=10

WorkingDirectory=/opt/qbop
ExecStart=/usr/local/bin/bundle exec sidekiq -e production

Environment=MALLOC_ARENA_MAX=2

RestartSec=1
Restart=always

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=sidekiq

[Install]
WantedBy=multi-user.target
