<div class="terminal-nav">
  <div class="terminal-logo">
    <div class="logo terminal-prompt"><a href="/" class="no-style">qbop</a></div>
  </div>
  <nav class="terminal-menu">
    <ul>
      <li><a class="menu-item" href="/">stats</a></li>
      <li><a class="menu-item active" href="/api-docs">api</a></li>
      <li><a class="menu-item" href="/logs">logs</a></li>
      <li><a class="menu-item" href="/about">about</a></li>
    </ul>
  </nav>
</div>
<% if @update_available %>
<div class="terminal-alert terminal-alert-primary"><a href="https://github.com/clajiness/qbop/releases" target="_blank">an update is available:</a> <a href="https://github.com/clajiness/qbop/releases/tag/<%= @recent_tag %>" target="_blank"><%= @recent_tag %></a></div>
<% end %>
<hr>

<h4><em>api endpoints</em></h4>
<blockquote>
  GET <a class="menu-item" href="/api/stats" target="_blank">/api/stats</a><br>
  GET <a class="menu-item" href="/api/about" target="_blank">/api/about</a><br>
  GET <a class="menu-item" href="/api/notifications" target="_blank">/api/notifications</a>
</blockquote>
