<div class="terminal-nav">
  <div class="terminal-logo">
    <div class="logo terminal-prompt"><a href="/" class="no-style">qbop</a></div>
  </div>
  <nav class="terminal-menu">
    <ul>
      <li><a class="menu-item" href="/">stats</a></li>
      <li><a class="menu-item" href="/api-docs">api</a></li>
      <li><a class="menu-item active" href="/logs">logs</a></li>
      <li><a class="menu-item" href="/about">about</a></li>
    </ul>
  </nav>
</div>
<hr>

<button class="btn btn-primary btn-ghost" onClick="window.location.reload()">refresh</button><br><br>

<h4><em>last <%= @log_lines %> lines of log output</em></h4>

<section>
  <pre>
    <code>
<% @output.each do |line| %>
<%= line %>
<% end %>
    </code>
  </pre>
</section>

<button class="btn btn-primary btn-ghost" onClick="window.location.reload()">refresh</button><br><br>
