<div class="terminal-nav">
  <div class="terminal-logo">
    <div class="logo terminal-prompt"><a href="/" class="no-style">qbop</a></div>
  </div>
  <nav class="terminal-menu">
    <ul>
      <li><a class="menu-item" href="/">stats</a></li>
      <li><a class="menu-item" href="/api-docs">api</a></li>
      <li><a class="menu-item active" href="/tools">tools</a></li>
      <li><a class="menu-item" href="/logs">logs</a></li>
      <li><a class="menu-item" href="/about">about</a></li>
    </ul>
  </nav>
</div>
<% if @update_available %>
<div class="terminal-alert terminal-alert-primary"><a href="https://github.com/clajiness/qbop/releases" target="_blank">an update is available:</a> <a href="https://github.com/clajiness/qbop/releases/tag/<%= @recent_tag %>" target="_blank"><%= @recent_tag %></a></div>
<% end %>
<hr>

<div class="terminal-card">
  <header>generate wireguard public key</header>
  <div>
    enter a protonvpn wireguard private key to generate the corresponding public key. this tool is not logged, and key generation is local to this container.
  </div>
</div>
<br>

<form action="/pubkey" method="post" id="wgform">
  <fieldset>
    <legend>generate wireguard public key</legend>
    <div class="form-group">
      <input id="privatekey" name="privatekey" type="text" placeholder="private key"/>
    </div>
    <div class="form-group">
      <input id="publickey" name="publickey" type="text" value="<%= @public_key %>" readonly/>
    </div>
    <div class="form-group">
      <button class="btn btn-default btn-ghost" type="submit" name="keysubmit" id="keysubmit">generate</button>
    </div>
  </fieldset>
</form>
<hr>

<div class="terminal-card">
  <header>get public ip address</header>
  <div>
    get your current public ip address as seen by qbop. select your preferred whoami service. this tool is not logged.
  </div>
</div>
<br>

<form action="/public-ip" method="post" id="ipform">
  <fieldset>
    <legend>get public ip address</legend>
    <div class="form-group">
      <label for="select">select whoami service:</label>
      <select id="select" name="select">
        <option>akamai</option>
        <option>cloudflare</option>
        <option>google</option>
        <option>opendns</option>
      </select>
    </div>
    <div class="form-group">
      <input id="ipaddress" name="ipaddress" type="text" value="<%= @public_ip %>" readonly/>
    </div>
    <div class="form-group">
      <button class="btn btn-default btn-ghost" type="submit" name="ipsubmit" id="ipsubmit">retrieve</button>
    </div>
  </fieldset>
</form>
<br>
