name: qbop_ci

on:
  push:
    branches:
      - "**"
      - "!main"
  pull_request:
    types:
      - closed

jobs:
  build:
    permissions:
      actions: read
      contents: read
      packages: write
      security-events: read
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      -
        name: Log in to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - 
        name: Read file contents
        uses: guibranco/github-file-reader-action-v2@0bde70edb8e1a58f31372048472b5d914b7f81e1 # v2.2.908
        id: file-contents
        with:
          path: "version.yml"
      -
        name: Trim file contents # this step removes newline characters that the editor may add to the end of the file
        id: trim-file-contents
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          VERSION_RAW: ${{ steps.file-contents.outputs.contents }}
        with:
          script: |
            const versionRaw = process.env.VERSION_RAW;
            const versionFormatted = versionRaw.trim();
            core.setOutput('version_formatted', versionFormatted)
      -
        name: Check if tag exists
        uses: action-pack/tag-exists@e3a3c2baef96878a14417f8c1424e6da5c2167bd # v1.08
        id: check-tag
        with: 
          tag: ${{ steps.trim-file-contents.outputs.version_formatted }}
      -
        name: Build and push to non-main
        if: github.event.pull_request.base.ref != 'main' && (steps.check-tag.outputs.exists == 'false' || steps.check-tag.outputs.exists == '')
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        env:
            VERSION: ${{ steps.file-contents.outputs.contents }}
        with:
          build-args: VERSION=${{ env.VERSION }}
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ env.VERSION }}
      -
        name: Build and push to main
        if: github.event.pull_request.base.ref == 'main' && github.event.pull_request.merged == true && (steps.check-tag.outputs.exists == 'false' || steps.check-tag.outputs.exists == '')
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        env:
            VERSION: ${{ steps.file-contents.outputs.contents }}
        with:
          build-args: VERSION=${{ env.VERSION }}
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: 
            ghcr.io/${{ github.repository }}:latest,
            ghcr.io/${{ github.repository }}:${{ env.VERSION }}
